<a href="https://colab.research.google.com/github/wellingtonsouza32/datascience_materialestudo/blob/main/Estimativas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***
# <font color=green size=10>CURSO DE ESTATÍSTICA - PARTE 2</font>
***

## Trabalho sobre Probabilidades, Amostragem e Estimações

Utilizando os conhecimentos adquiridos em nosso treinamento execute as tarefas abaixo. Siga o roteiro proposto e vá completando as células vazias.

# <font color=green>DATASET DO PROJETO</font>
***

### Pesquisa Nacional por Amostra de Domicílios - 2015

A <b>Pesquisa Nacional por Amostra de Domicílios - PNAD</b> investiga anualmente, de forma permanente, características gerais da população, de educação, trabalho, rendimento e habitação e outras, com periodicidade variável, de acordo com as necessidades de informação para o país, como as características sobre migração, fecundidade, nupcialidade, saúde, segurança alimentar, entre outros temas. O levantamento dessas estatísticas constitui, ao longo dos 49 anos de realização da pesquisa, um importante instrumento para formulação, validação e avaliação de políticas orientadas para o desenvolvimento socioeconômico e a melhoria das condições de vida no Brasil.

### Fonte dos Dados

https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

### Variáveis utilizadas

> ### Renda
> ***

Rendimento mensal do trabalho principal para pessoas de 10 anos ou mais de idade.

> ### Idade
> ***

Idade do morador na data de referência em anos.

> ### Altura (elaboração própria)
> ***

Altura do morador em metros.

> ### UF
> ***

|Código|Descrição|
|---|---|
|11|Rondônia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Pará|
|16|Amapá|
|17|Tocantins|
|21|Maranhão|
|22|Piauí|
|23|Ceará|
|24|Rio Grande do Norte|
|25|Paraíba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Espírito Santo|
|33|Rio de Janeiro|
|35|São Paulo|
|41|Paraná|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goiás|
|53|Distrito Federal|

> ### Sexo	
> ***

|Código|Descrição|
|---|---|
|0|Masculino|
|1|Feminino|

> ### Anos de Estudo
> ***

|Código|Descrição|
|---|---|
|1|Sem instrução e menos de 1 ano|
|2|1 ano|
|3|2 anos|
|4|3 anos|
|5|4 anos|
|6|5 anos|
|7|6 anos|
|8|7 anos|
|9|8 anos|
|10|9 anos|
|11|10 anos|
|12|11 anos|
|13|12 anos|
|14|13 anos|
|15|14 anos|
|16|15 anos ou mais|
|17|Não determinados| 
||Não aplicável|

> ### Cor
> ***

|Código|Descrição|
|---|---|
|0|Indígena|
|2|Branca|
|4|Preta|
|6|Amarela|
|8|Parda|
|9|Sem declaração|

#### <font color='red'>Observação</font>
***
> Os seguintes tratamentos foram realizados nos dados originais:
> 1. Foram eliminados os registros onde a <b>Renda</b> era inválida (999 999 999 999);
> 2. Foram eliminados os registros onde a <b>Renda</b> era missing;
> 3. Foram considerados somente os registros das <b>Pessoas de Referência</b> de cada domicílio (responsável pelo domicílio).

***
***

### Utilize a célula abaixo para importar as bibliotecas que precisar para executar as tarefas
#### <font color='red'>Sugestões: pandas, numpy, scipy etc.</font>

In [35]:
import pandas as pd
import numpy as np
import scipy as stats
from scipy.stats import binom
from scipy.stats import norm

### Importe o dataset e armazene o conteúdo em uma DataFrame

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
dados  = pd.read_csv('/content/drive/MyDrive/datasets/dados.csv')

### Visualize o conteúdo do DataFrame

In [5]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

# <font color='green'>Problema A</font>

Avaliando nosso dataset é possível verificar que a **proporção de homens** como chefes de domicílios é de quase **70%**. Precisamos **selecionar aleatoriamente grupos de 10 indivíduos** para verificar as diferenças entre os rendimentos em cada grupo. Qual a **probabilidade de selecionamos um grupo que apresente a mesma proporção da população**, ou seja, selecionarmos um grupo que seja **composto por 7 homens e 3 mulheres**?

#### <font color='blue'>Como tarefa extra, verifique a real proporção de homens e mulheres em nosso dataset (vimos como fazer isso em nosso primeiro curso de estatística).</font>

#### <font color='red'>Verifique que tipo de distribuição de probabilidade se encaixa neste experimento.</font>

### Solução

In [6]:
#Precisamos selecionar aleatoriamente grupos de 10 indivíduos
aleatorio = dados.sample(10)
aleatorio

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
42326  33     0     50    2               4   1500  1.660212
36216  31     0     42    8               2   1400  1.615138
58142  41     0     45    8              12    788  1.838648
553    11     1     31    8              12    900  1.769213
27043  29     0     31    4               3    800  1.716630
51040  35     0     44    8              12    350  1.780154
45764  33     0     39    8               3   1000  1.755747
64858  43     1     34    2              14   8000  1.758975
22632  26     0     40    2              14   1200  1.718939
34666  31     0     63    2              12   2000  1.593749

In [25]:
#Qual a probabilidade de selecionamos um grupo que apresente a mesma proporção da população, 
#ou seja, selecionarmos um grupo que seja composto por 7 homens e 3 mulheres?

p = 0.7 #probabilidade de que o grupo com dez indivíduos tenha sete homens três mulheres
n = 10 #integrantes
k = 7 #probabilidade

probabilidade = binom.pmf(k, n, p)
print ('%0.8f' % probabilidade)  #chance de um grupo com dez indivíduos tenha sete homens três mulheres

0.26682793

In [22]:
#Verifique a real proporção de homens e mulheres em nosso dataset, vimos como fazer isso em nosso primeiro curso de estatística

Sexo = dados['Sexo'].value_counts()
Sexo.rename({0:'Masculino', 1 : 'Feminino'})

Masculino    53250
Feminino     23590
Name: Sexo, dtype: int64

# <font color='green'>Problema B</font>

Ainda sobre a questão anterior, **quantos grupos de 10 indivíduos** nós precisaríamos selecionar, de forma aleatória, para conseguir **100 grupos compostos por 7 homens e 3 mulheres**?

#### <font color='red'>Lembre-se da forma de cálculo da média de uma distribuição binomial</font>

### Solução

In [26]:
n = 100 / probabilidade
n = int(n.round())
n

375

# <font color='green'>Problema C</font>

Um cliente nos encomendou um estudo para avaliar o **rendimento dos chefes de domicílio no Brasil**. Para isso precisamos realizar uma nova coleta de dados, isto é, uma nova pesquisa de campo. Após reunião com o cliente foi possível elencar o seguinte conjunto de informações:

> A. O resultado da pesquisa precisa estar pronto em **2 meses**;

> B. Teremos somente **R$\$$ 150.000,00** de recursos para realização da pesquisa de campo; e
    
> C. Seria interessante uma **margem de erro não superior a 10% em relação a média estimada**.

Em nossa experiência com estudos deste tipo, sabemos que o **custo médio por indivíduo entrevistado fica em torno de R$\$$ 100,00**. Com este conjunto de fatos avalie e obtenha o seguinte conjunto de informações para passar ao cliente:


> 1. Para obter uma estimativa para os parâmetros da população (renda dos chefes de domicílio no Brasil), realize uma amostragem aleatória simples em nosso conjunto de dados. Essa amostra deve conter 200 elementos (utilize random_state = 101 para garantir que o mesmo experimento posso ser realizado novamente). Obtenha a média e o desvio-padrão dessa amostra.
    
> 2. Para a **margem de erro** especificada pelo cliente obtenha os **tamanhos de amostra** necessários para garantir os **níveis de confiança de 90%, 95% e 99%**.
    
> 3. Obtenha o **custo da pesquisa** para os três níveis de confiança.
    
> 4. Para o maior nível de confiança viável (dentro do orçamento disponível), obtenha um **intervalo de confiança para a média da população**.
    
> 5. Assumindo o **nível de confiança escolhido no item anterior**, qual **margem de erro** pode ser considerada utilizando todo o recurso disponibilizado pelo cliente?
    
> 6. Assumindo um **nível de confiança de 95%**, **quanto a pesquisa custaria ao cliente** caso fosse considerada uma **margem de erro de apenas 5%** em relação a média estimada?

# <font color='blue'>Solução do item 1</font>

### Seleção de uma amostra aleatório simples

#### <font color='red'>Lembre-se de utilizar *random_state = 101*</font>

1. Para obter uma estimativa para os parâmetros da população (renda dos chefes de domicílio no Brasil), realize uma amostragem aleatória simples em nosso conjunto de dados. Essa amostra deve conter 200 elementos (utilize random_state = 101 para garantir que o mesmo experimento posso ser realizado novamente). Obtenha a média e o desvio-padrão dessa amostra.

In [70]:
amostra = dados.Renda.sample(n = 200, random_state = 101)
desvio_padrao = amostra.std()
media = amostra.mean()
recursos = 150000
custo_entrevista = 100
print('o Desvio Padrão é {} e a Média {}'.format(desvio_padrao,media))

o Desvio Padrão é 3139.8855167452093 e a Média 1964.205

### Dados do problema

# <font color='blue'>Solução do item 2</font>

### Obtenha a margem de erro

#### <font color='red'>Lembre-se que a margem de erro deve estar na mesma unidade da variável que está sendo estudada (R$)</font>

2. Para a **margem de erro** especificada pelo cliente obtenha os **tamanhos de amostra** necessários para garantir os **níveis de confiança de 90%, 95% e 99%**.

In [71]:
e = 0.10 * media
print('A margem de erro é de R$ %0.2f para mais ou para menos' % (e))

A margem de erro é de R$ 196.42 para mais ou para menos

### Tamanho da amostra ($1 - \alpha = 90\%$)

In [75]:
#tamanho de amostra 90%
z_norm_90 = 0.5 + (0.90/2)
z_90 = norm.ppf(z_norm)
n_90 = (z_90 * (desvio_padrao/e)) ** 2
n_90 = int(n_90.round())
print('Para um nível de confiança de 90%% devemos selecionar uma amostra de %s elementos.' % n_90)

Para um nível de confiança de 90% devemos selecionar uma amostra de 691 elementos.

### Tamanho da amostra ($1 - \alpha = 95\%$)

In [74]:
#tamanho de amostra 95%
z_norm_95 = 0.5 + (0.95/2)
z_95 = norm.ppf(z_norm_95)
n_95 = (z_95 * (desvio_padrao/e)) ** 2
n_95 = int(n_95.round())
print('Para um nível de confiança de 95%% devemos selecionar uma amostra de %s elementos.' % n_95)

Para um nível de confiança de 95% devemos selecionar uma amostra de 982 elementos.

### Tamanho da amostra ($1 - \alpha = 99\%$)

In [73]:
#tamanho de amostra 99%
z_norm_99 = 0.5 + (0.99/2)
z_99 = norm.ppf(z_norm_99)
n_99 = (z_99 * (desvio_padrao/e)) ** 2
n_99 = int(n_99.round())
print('Para um nível de confiança de 99%% devemos selecionar uma amostra de %s elementos.' % n_99)

Para um nível de confiança de 99% devemos selecionar uma amostra de 1695 elementos.

# <font color='blue'>Solução do item 3</font>

3. Obtenha o custo da pesquisa para os três níveis de confiança.

### Custo da pesquisa para o nível de confiança de 90%

In [76]:
custo_confianca_90 = n_90 * custo_entrevista
print('Para um nível de confiança de 90% o custo da pesquisa seria de R$ {:,.2f}.'.format(custo_confianca_90))

Para um nível de confiança de 90% o custo da pesquisa seria de R$ 69,100.00.

### Custo da pesquisa para o nível de confiança de 95%

In [78]:
custo_confianca_95 = n_95 * custo_entrevista
print('Para um nível de confiança de 95% o custo da pesquisa seria de R$ {:,.2f}.'.format(custo_confianca_90))

Para um nível de confiança de 95% o custo da pesquisa seria de R$ 98,200.00.

### Custo da pesquisa para o nível de confiança de 99%

In [79]:
custo_confianca_99 = z_norm_99 * custo_entrevista
print('Para um nível de confiança de 99% o custo da pesquisa seria de R$ {:,.2f}.'.format(custo_confianca_90))

Para um nível de confiança de 99% o custo da pesquisa seria de R$ 98,200.00.

# <font color='blue'>Solução do item 4</font>

4. Para o maior nível de confiança viável (dentro do orçamento disponível), obtenha um **intervalo de confiança para a média da população**

In [80]:
intervalo = norm.interval(alpha = 0.95, loc = media, scale = desvio_padrao / np.sqrt(n_95))
intervalo

(1767.8209732805094, 2160.5890267194904)

# <font color='blue'>Solução do item 5</font>

5. Assumindo o **nível de confiança escolhido no item anterior**, qual **margem de erro** pode ser considerada utilizando todo o recurso disponibilizado pelo cliente?

In [81]:
n_confianca_95 = recursos / custo_entrevista
n_confianca_95

1500.0

In [83]:
z = norm.ppf(.975)
e = z * (desvio_padrao / np.sqrt(n_confianca_95))
e

158.89721122673703

In [86]:
e_percentual = e/media
e_percentual * 100
print ('A nova margem de erro é {:.2f}%.'.format(e_percentual * 100))

A nova margem de erro é 8.09%.

# <font color='blue'>Solução do item 6</font>

6. Assumindo um **nível de confiança de 95%**, **quanto a pesquisa custaria ao cliente** caso fosse considerada uma **margem de erro de apenas 5%** em relação a média estimada?

In [87]:
e = 0.05 * media
print('A margem de erro é de R$ %0.2f para mais ou para menos' % (e))

A margem de erro é de R$ 98.21 para mais ou para menos

In [88]:
z = norm.ppf(.975)
n_confianca_95 = (z * (desvio_padrao / e)) ** 2
n_confianca_95 = int(n_confianca_95.round())
print('Para um nível de confiança de 95%% devemos selecionar uma amostra de %s elementos.' % n_confianca_95)

Para um nível de confiança de 95% devemos selecionar uma amostra de 3927 elementos.

In [89]:
custo_confianca_95 = n_confianca_95 * custo_entrevista
print('Para um nível de confiança de 95% o custo da pesquisa seria de R$ {:,.2f}.'.format(custo_confianca_95))

Para um nível de confiança de 95% o custo da pesquisa seria de R$ 392,700.00.