<a href="https://colab.research.google.com/github/wellingtonsouza32/datascience_materialestudo/blob/main/exercicios_aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Exercício 1.0

## Problema

Crie uma função que efetue a leitura do arquivo produzido no exemplo 1 (levels.csv) e mostre na tela as seguintes informações estatísticas:

* Quantidade total de acidentes
* Quantidade total de acidentes agrupados por tipo de aeronave (type)
* Ano e fabricante da aeronave mais antiga (year_manufacturing, manufacturer)
* Quantidade de assentos e tipo de motor da aeronave mais nova (seating, engine_type)
* A quantidade de acidentes que ocorreram com aeronaves do tipo (type) HELICÓPTERO, cuja fabricação se deu após o ano 1997
* A quantidade de acidentes que ocorreram com aeronaves do tipo (type) AVIÃO fabricadas (manufacturer) pela CESSNA AIRCRAFT

## Resolução e Resposta

In [28]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/levels.csv')
df.head(1000)

,operation,type,manufacturer,engine_type,engines,year_manufacturing,seating,fatalities
0,OPERADOR DE AERONAVE,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,PISTÃO,MONOMOTOR,1977,4,1
1,ESCOLA DE AVIAÇÃO,HELICÓPTERO,ROBINSON HELICOPTER,PISTÃO,MONOMOTOR,1997,2,2
2,OPERADOR DE AERONAVE,AVIÃO,CESSNA AIRCRAFT,PISTÃO,MONOMOTOR,1979,1,1
3,OPERADOR PARTICULAR,HELICÓPTERO,EUROCOPTER FRANCE,TURBOEIXO,MONOMOTOR,2005,7,1
4,ÓRGÃO PÚBLICO,HELICÓPTERO,EUROCOPTER FRANCE,TURBOEIXO,MONOMOTOR,1997,6,1
5,OPERADOR PARTICULAR,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,PISTÃO,MONOMOTOR,1976,4,1
6,OPERADOR PARTICULAR,HELICÓPTERO,BELL HELICOPTER,TURBOEIXO,MONOMOTOR,1973,5,1
7,OPERADOR PARTICULAR,ULTRALEVE,***,PISTÃO,MONOMOTOR,2009,2,1
8,OPERADOR DE AERONAVE,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,PISTÃO,MONOMOTOR,1993,1,1
9,OPERADOR DE AERONAVE,AVIÃO,CESSNA AIRCRAFT,PISTÃO,MONOMOTOR,1946,2,2
10,OPERADOR DE AERONAVE,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,PISTÃO,MONOMOTOR,1974,1,1
11,OPERADOR DE AERONAVE,HELICÓPTERO,HELIBRAS,TURBOEIXO,MONOMOTOR,2009,6,1
12,OPERADOR PARTICULAR,ULTRALEVE,ROBSON DIAS LIMA,PISTÃO,MONOMOTOR,2011,2,1

--A quantidade de acidentes que ocorreram com aeronaves do tipo (type) HELICÓPTERO, cuja fabricação se deu após o ano 1997--
7.0

In [ ]:
fabri = df[['year_manufacturing','manufacturer']]
antiga = fabri['year_manufacturing'].min()
fabri.loc[fabri['year_manufacturing'] == antiga]

In [47]:
def acidentes():
  #Quantidade total de acidentes
  df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/levels.csv')
  df = pd.DataFrame(df)
  fatal = df['fatalities'].sum()
  print(f'A quantidade total de acidentes é : {fatal}')
  #Quantidade total de acidentes agrupados por tipo de aeronave (type)
  tipo = df[['type', 'fatalities']]
  df2 = tipo.groupby(["type"])["fatalities"].sum().reset_index()
  print (f'--Quantidade total de acidentes agrupados por tipo de aeronave é:--')
  print(df2)
  #Ano e fabricante da aeronave mais antiga (year_manufacturing, manufacturer)
  fabri = df[['year_manufacturing','manufacturer']]
  antiga = fabri['year_manufacturing'].min()
  print (f'--Ano e fabricante da aeronave mais antiga--')
  print (fabri.loc[fabri['year_manufacturing'] == antiga])
  #Quantidade de assentos e tipo de motor da aeronave mais nova (seating, engine_type)
  assento = df[['year_manufacturing','engine_type','seating']]
  assento_motor = assento['year_manufacturing'].max()
  print (f'--A Quantidade de assentos e tipo de motor da aeronave mais nova é--')
  print (assento.loc[assento['year_manufacturing'] == assento_motor])
  #A quantidade de acidentes que ocorreram com aeronaves do tipo (type) HELICÓPTERO, cuja fabricação se deu após o ano 1997
  acidente = df[['year_manufacturing','type','fatalities']]
  print (f'--A quantidade de acidentes que ocorreram com aeronaves do tipo (type) HELICÓPTERO, cuja fabricação se deu após o ano 1997--')
  a = acidente.where(acidente['year_manufacturing']>= 1997)
  a.dropna()
  t = a['fatalities'].sum()
  print (t)
  #A quantidade de acidentes que ocorreram com aeronaves do tipo (type) AVIÃO fabricadas (manufacturer) pela CESSNA AIRCRAFT
  acidente2 = df[['manufacturer','type','fatalities']]
  print(f'--A quantidade de acidentes que ocorreram com aeronaves do tipo (type) AVIÃO fabricadas (manufacturer) pela CESSNA AIRCRAFT--')
  total = acidente2.where(acidente2['manufacturer']== 'CESSNA AIRCRAFT')
  total.dropna()
  valor = total['fatalities'].sum()
  print(valor)

In [48]:
acidentes()

A quantidade total de acidentes é : 15
--Quantidade total de acidentes agrupados por tipo de aeronave é:--
          type  fatalities
0        AVIÃO           7
1  HELICÓPTERO           6
2    ULTRALEVE           2
--Ano e fabricante da aeronave mais antiga--
   year_manufacturing     manufacturer
9                1946  CESSNA AIRCRAFT
--A Quantidade de assentos e tipo de motor da aeronave mais nova é--
    year_manufacturing engine_type  seating
12                2011      PISTÃO        2
--A quantidade de acidentes que ocorreram com aeronaves do tipo (type) HELICÓPTERO, cuja fabricação se deu após o ano 1997--
7.0
--A quantidade de acidentes que ocorreram com aeronaves do tipo (type) AVIÃO fabricadas (manufacturer) pela CESSNA AIRCRAFT--
3.0